{% extends "base.html" %}

{% block content %}

<h2 class="d-flex justify-content-center">Нынешнее число: {{number}}</h2>
<br>
<div class="container">
  <form method="POST" action="{{url_for('index')}}">
    <div class="input-group" >
      <div class="input-group-prepend">
        <span class="input-group-text">New number</span>
      </div>
      <input type="text" class="form-control" aria-label="new number" name="number" placeholder="{{number}}">
      <button class="btn btn-outline-primary">Send your new number</button>
    </div>
  </form>
</div>

{% endblock %}
